body {
  font-family: sans;
  padding: 2rem;
  line-height: 2;
}

code {
  background: rgba(0, 40, 100, 0.8);
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: white;
}

h1 {
  font-size: 1rem;
}

hr {
  margin: 2rem 0;
}
